---
permalink: /tags/
layout: layouts/page.njk
---
<div class="row">
<h1 class="editable col-md-3">Tags</h1>
<div class="col-md-9">
<div class="row p-1">
{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
 <div class="col-md-3 p-3">
 <a class="btn btn-outline-primary" href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
 </div>
{% endfor %}
</div>
</div>