<div class="container bg-white">
<div class="row">
{% for post in postslist | reverse %}
<a href="{{ post.url | url }}" title="{{post.data.title}}" class="col-md-4 p-3">
{% if post.data.thumb %}<img class="img-fluid zoom" loading="lazy" height="100%" width="100%"
alt="{{post.data.title}}" src="{{post.data.thumb}}"">{% endif %}
<div class="p-3">
{% if post.data.title %}<h2 class="lead"><strong>{{ post.data.title }}</strong></h2>{% endif %}
{% if post.data.description %}<h3 class="lead text-dark">{{ post.data.description }}</h3>{% endif %}
</div>
</a>
{% endfor %}
</div>
</div>