<footer class="container bg-white">
<div class="row text-center">
<div class="col-md-12 p-3 col-12 mt-5">
<div class="col-md-3 mx-auto">
<img class="img-fluid" height="200" width="200" src="https://wsrv.nl/?url=https://dka575ofm4ao0.cloudfront.net/pages-transactional_logos/retina/4967/cloudcannon-wide-blue.png">
</div>
</div>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">Home</a>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">About</a>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">Blog</a>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">Video</a>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">Hire</a>
<a class="col-md-2 col-4 p-3 p-md-5 editable" href="">Github</a>
</div>
</div>
</footer>