<footer class="container bg-white">
<div class="row text-center">
<div class="col-md-12 p-3 col-12 mt-5">
<div class="col-md-3 mx-auto">
<img src="{{metadata.footerlogo}}" class="img-fluid" loading="lazy" height="200" width="200" " alt="{{metadata.title}}">
</div>
</div>
{% for pro in metadata.footer %}
<a class="col-md-2 col-4 p-3 p-md-5 slim" href="{{pro.link}}">{{pro.menu}}</a>
{% endfor %}
</div>
</div>
</footer>