<header class="container bg-white">
<div class="row">
<div class="col-md-4 col-2">
<a href="{{ '/' | url }}"><img width="60" height="60" class="img-fluid logo" 
title="{{metadata.title}}" src="{{metadata.icon}}"></a>
</div>
<nav class="nav col-md-8 col-10 justify-content-end p-1">
{%- for entry in collections.all | eleventyNavigation %}
<a class="nav-link {% if entry.url == page.url %} nav-link active{% endif %}" 
href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}
<a class="nav-link" 
href="{{ metadata.navlink }}">{{ metadata.nav }}</a>
</nav>
</div>
</header>