<!doctype html>
<html lang="{{metadata.language}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widget/seo.njk" %}
<link rel="stylesheet" href="{{ '/css/index.css' | url }}">
<link rel="stylesheet" href="{{ '/css/text.css' | url }}">
<meta name="generator" content="Eleventy v2.0.0">
</head>
<body class="bg-light">