<div class="ratio ratio-16x9">
  <iframe src="https://stackblitz.com/edit/11ty-cloudcannon?embed=1&file=README.md" loading="lazy" title="cloudcannon eleventy stackblitz" allowfullscreen></iframe>
</div>
<script>
import sdk from '@stackblitz/sdk'

sdk.embedProjectId(
  'elementOrId',
  '11ty-cloudcannon',
  {
    forceEmbedLayout: true,
    openFile: 'README.md',
  }
);
</script>