Bagaimana menggunakan source code project eleventy 11ty gratis ini untuk terintegrasi dengan backend cloudcannon headless cms.

<div class="ratio ratio-16x9 mb-5">
<iframe src="https://www.youtube.com/embed/xl6RTaQCNdY" loading="lazy" title="cloudcannon eleventy template project free download source code" allowfullscreen></iframe>
</div>


Zach Video

<div class="ratio ratio-16x9 mb-5">
<iframe src="https://www.youtube.com/embed/nypsmn70ipI" loading="lazy" title="cloudcannon meet eleventy" allowfullscreen></iframe>
</div>


Cloudcannon Video

<div class="ratio ratio-16x9 mb-5">
<iframe src="https://www.youtube.com/embed/Mlpe3oNb7Sg" loading="lazy" title="cloudcannon meet eleventy" allowfullscreen></iframe>
</div>